@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --background-base: #121212;
    --horizontal-nav-color :background-color: rgb(136, 64, 64);
    --grey-color:#b3b3b3;
    --light-hover-grey-color:#524949;
    --dark-grey-color:#303030;
    --darker-grey-color:#242424;
    --white-color:#fff;
    --vertical-nav-width:202px;
    --play-playlist-btn:56px;
    --background-noise: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMDAiIGhlaWdodD0iMzAwIj48ZmlsdGVyIGlkPSJhIiB4PSIwIiB5PSIwIj48ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjc1IiBzdGl0Y2hUaWxlcz0ic3RpdGNoIi8+PGZlQ29sb3JNYXRyaXggdHlwZT0ic2F0dXJhdGUiIHZhbHVlcz0iMCIvPjwvZmlsdGVyPjxwYXRoIGZpbHRlcj0idXJsKCNhKSIgb3BhY2l0eT0iLjA1IiBkPSJNMCAwaDMwMHYzMDBIMHoiLz48L3N2Zz4=);
}
body{
    font-family: 'Rubik', sans-serif;
    color: var(--white-color);
}
.root-container{
    height: 85.04vh;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
}
/* Vertical navbar */
.vertical-navbar{
    height: 85vh;
    width: var(--vertical-nav-width);
    background-color: var(--background-base);
}
.ver-nav{
    padding-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
.spotify-logo--text{
    height: 40px;
    max-width: 131px;
}
.nav-buttons{
    margin-top:15px;
}
.nav-items{
    list-style: none;
    color:var(--grey-color) ;
    display: flex;
    gap: 11px;
    height: 40px;
    padding: 0 16px;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    text-decoration: none;
    -webkit-box-align: center;
    border-radius: 4px;
    transition: all 0.7s ease 0s;
}
.nav-items:hover{
    color: var(--white-color) ;
}
.icon:hover{
    color: var(--white-color) ;
}
.nav-item-text{
    font-size: 14px;
    padding-top: 2px;
    font-weight: bold;
}
.default-icons{
    margin-top: 30px;
}    
/* Horizontal navbar */
.horizontal-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 23px;
    max-width: calc(100vw - var(--vertical-nav-width));
    height: 60px;
}
.forward-back-btn{
    height:35px; 
    width:40px; 
    cursor:pointer;
}
.forward-btn{
    transform:rotate(180deg);
}
.side-buttons{
    display: flex;
    width: 310px;
    justify-content: space-evenly
}
.upgrade-spotify{
    border: 1px solid var(--white-color);
    background-color: var(--dark-grey-color);
    border-radius: 500px;
    color: var(--white-color);
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.76px;
    line-height: 18px;
    padding: 8px 34px;
    text-align: center;
}
.upgrade-spotify:hover{
    background-color: var(--light-hover-grey-color);
    transform: scale(1.1,1.1);
}
.profile{
    border: 1px solid var(--white-color);
    background-color: var(--dark-grey-color);
    border-radius: 500px;
    color: var(--white-color);
    font-family: inherit;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.76px;
    line-height: 18px;
    padding: 8px 15px;
    align-items: center;
    text-align: center;
}
.profile:hover{
    background-color: var(--light-hover-grey-color);
}
.main-holder{
    height: 85.05vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(136, 64, 64);
    background-image: linear-gradient(rgba(0,0,0,.6) 0,#121212 100%),var(--background-noise);
}
/* main player  */
.main-player{
    height: 77vh;
}
.playlist-info{
    display: flex;
    padding-left: 28px;
    padding-right: 28px;
    padding-top: 30px;
}
.playlist-about{
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    padding-top: 65px;
}
.playlist-type{
    font-size: 12px;
    font-weight: 700;
}
.playlist-name{
    padding: 12px 0px;
    font-size: 96px;
    line-height: 96px;
    font-weight: 900;
    letter-spacing: -.04em;
}
.user-name{
    color: var(--white-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}
.playlist-author{
    padding-top: 5px;
    font-size: 14px;
    font-weight: 700;
    color: var(--grey-color);
}
/* Playlist buttons  */
.play-btns{
    display: flex;
    padding: 18px 30px;
    align-items: center;
}
.play-playlist-btn{
    background-color: #1db954;
    color: var(--white-color);
    border-radius: 500px;
    height: var(--play-playlist-btn);
    width: var(--play-playlist-btn);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px;
    cursor: pointer;
}
.play-playlist-btn:hover{
    transform: scale(1.1,1.1);
}
/* Songs */
.content-spacing{
    padding: 0 40px;
    margin-top: 12px;
}
.song-head{
    display: grid;
    grid-template-columns: 0.09fr 1fr 1fr 1fr 1fr;
    color: var(--grey-color);
    border-bottom: 0.5px solid var(--grey-color);
}

/* song info player */
.song-info-player{
    height: 15vh;
    background-color: var(--dark-grey-color);
}